<% provide(:page_title, 'About') %>
<h1>About</h1>
<p>Wendy Ziecheck was born in Washington, D.C. and moved to New York City to pursue a professional career as a ballet dancer. After sustaining a career ending injury, Dr. Ziecheck embarked on an undergraduate degree in at Hunter College, in New York City, graduating with honors with a degree in Biological Sciences.</p>
<p>Dr. Ziecheck attended Cornell University Medical College (now Weill Cornell Medical College) and completed her training in Internal Medicine at The New York Presbyterian Hospital/Cornell. During her time there, Dr. Ziecheck served as Chief Resident in the Primary Care tract within the Department of Medicine.</p>
<p>After her training, Wendy Ziecheck began her career in full time private practice, with part-time work at the International Center for the Disabled, Physician Volunteers for the Arts and House Physician at Lincoln Center for the Performing Arts, to name a few.</p>
<p>In 2001, Dr. Ziecheck joined the practice of her longtime associate, Dr. Christopher Barley and Dr. Edith Langner. In 2006, Dr. Ziecheck and Dr. Barley moved to their beautiful new offices at 110 East 55th Street and formed Park 55 Medical Associates, P.C.</p>
<p>Dr. Ziecheck holds an Assistant Attending Physician position at The New York Presbyterian Hospital and a Clinical Instructor in Medicine position at Weill Cornell Medical College, where she is a member of the Financial Aid Committee and the Alumni Association.</p>
<p>Additionally, Dr. Ziecheck is a member of the following professional organizations:</p>
<ul>
  <li>Diplomate: American Board of Internal Medicine</li>
  <li>American College of Physicians</li>
  <li>Independent Doctors of New York</li>
  <li>Physicians Scientific Society</li>
  <li>American Medical Women’s Association</li>
  <li>North American Menopause Society</li>
  <li>International Academy of Dance Medicine</li>
</ul>
