<h2>Wendy S. Ziecheck, M.D.</h2>
<h1>Internal Medicine</h1>
<h3>110 East 55th St, 9th Floor, New York, NY 10022</h3>
<%= link_to "Enter", main_path %>
<%= image_tag("wsz-01.jpg", alt: "Doctor Ziecheck", height: "300") %>
<h3>Ability, Affability, Accessibility</h3>