<h2>Wendy S. Ziecheck, M.D.</h2>
<h1>Internal Medicine</h1>
<h3>110 East 55th St, 9th Floor, New York, NY 10022</h3>
<%= link_to "Enter", main_path, class: "main-container" %>
<img src="http://ucsdnews.ucsd.edu/archive/graphics/images/2008/05-08InternalMedicine03.jpg", height="300">
<h3>Ability, Affability, Accessibility</h3>